Diagrams/
GRID_data.csv
JupyterFiles/
Prototype_1.py
Prototype_2_DataPlaying.py
Prototype_establishing_Connections.py
Truffle_GRID/.DS_Store
Truffle_GRID/plot_2.pdf
Truffle_GRID/plot_3.pdf
Truffle_GRID/Truffle_Experiment.ipynb
foo.eps
foo.pdf
plot_2.eps
plot_2.pdf
plot_2.png
plot_3.eps
plot_3.pdf
plot_3.pdf.png
plot_3.png
ploting.py


Truffle_GRID/.ipynb_checkpoints/ExperimentPlots-YY-checkpoint.ipynb
Truffle_GRID/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Truffle_GRID/ExperimentPlots-YY.ipynb
Truffle_GRID/ExperimentPlots.ipynb
Truffle_GRID/plots_1.pdf
Truffle_GRID/plots_2.pdf